extends layout

block content
  
  if(loggedin==true)
  
    p Þú ert skráður inn sem #{usern}!!
    
    script.
      function show(){
        console.log('hæ');
        document.getElementById("createThread").classList.remove('hidden');
        document.getElementById('bla').classList.add('hidden');
      }

      
    button(type='submit'
          value='submit'
          class='btn btn-primary'
          onclick='show()'
          id='bla'
          ) Búa til nýjann þráð!
    br
      
    
    form.form-group(method='post' action='/entries/#{threadId}')
  
      div.hidden#createThread
      
        textarea(id='textarea'
                class='form-control'
                name='textarea'
                )
        br
      
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) Búa til nýjann þráð!
        br
      
      
      if entries
        ul(class="entries")
          each u in entries.rows   
            li
              //
                if(imageset==true)
                  img(src=session.user.image)
                else
                  img(src='http://oi64.tinypic.com/5o5nc0.jpg')
              p#postuser #{u.username}
              p#postdate= moment(u.date).calendar()
              p#postentry #{u.entry}
            
            
      
            
