extends layout

block content
  
  if(loggedin==true)
  
    p Þú ert skráður inn sem #{usern}!!
    h1 #{renderThreads.threadname}

    section.col-md-6.col-s-6.col-xs-12.pull-right
      button(type='submit'
            value='submit'
            class='btn btn-primary'
            id='entryButton'
            ) Taka þátt í umræðunni!  
       
      
      form.form-group.hidden#postEntry(method='post' action='/entries/#{threadId}')
        textarea(id='textarea'
                class='form-control'
                name='textarea'
                rows = '7'
                columns = '30'
                )
        
    
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) Vista innlegg
         
      
    section.col-md-6.col-s-6.col-xs-12.pull-left
      if entries
        ul.media-list(class="entries")
          each u in entries.rows   
            li.media
              div.media-left
                img(src='#{u.image}' height='64px' alt='profile picture for #{u.username}')
              div.media-body
                h4.media-heading #{u.username}
                p.dates= moment(u.date).calendar()
                p #{u.entry}
  
            
      
