extends layout

block content
  
  if(loggedin==true)
  
    p Þú ert skráður inn sem #{usern}!!
    
    script.
      function show(){
        document.getElementById("createThread").classList.remove('hidden');
        document.getElementById('bla').classList.add('hidden');
      }

      
    button(type='submit'
          value='submit'
          class='btn btn-primary'
          onclick='show()'
          id='bla'
          ) Búa til nýjann þráð!
    br
      
    
    form.form-group(method='post' action='/entries/#{threadId}')
  
      div.hidden#createThread
      
        textarea(id='textarea'
                class='form-control'
                name='textarea'
                )
        br
      
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) Búa til nýjann þráð!
        br
      
      
      if entries
        ul.media-list(class="entries")
          each u in entries.rows   
            li.media
              //
                if(imageset==true)
                  img(src=session.user.image)
                else
                  img(src='http://oi64.tinypic.com/5o5nc0.jpg')
              div.media-left
                if(imageset==true)
                  img(src=session.user.image height='64px')
                else
                  img(src='http://oi64.tinypic.com/5o5nc0.jpg' height='64px')
              div.media-body
                h4.media-heading #{u.username}
                p.dates= moment(u.date).calendar()
                p #{u.entry}
              
        
