extends layout

block content

  section.col-md-6.col-s-6.col-xs-12
    if(renderData.user.username!=usern)
      p.profileHeader Þetta svæði á #{renderData.user.name}
      p#profile Notendanafnið er:
        span.profileText #{renderData.user.username}
    else
      p.profileHeader Þetta er svæðið þitt,  #{renderData.user.name}
      p#profile Þú ert skráður inn sem: 
        span.profileText #{usern}
      p#profile Notendanafnið þitt er: 
        span.profileText #{renderData.user.username}
    p#profile Skráð e-mail: 
      span.profileText #{renderData.user.email}
    p#profile Um mig:
      p.profileText #{renderData.user.aboutme}
      
    
        
  section.col-md-6.col-s-6.col-xs-12  
    div.profileImg   
      if(imageset==true)
        img#profileimg(src=imagelink height='200px' alt='profile picture for #{renderData.user.username}')
      else
        img#profileimg(src='http://oi64.tinypic.com/5o5nc0.jpg' height='200px' alt='profile picture for #{renderData.user.username}')
      if(renderData.user.username==usern)
        br
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              id='picButton'
              ) Skipta um mynd 
    br
    form.form-group.hidden#newPic(method='post' action='/profile/#{renderData.user.username}')
  
      div
        label(for='newPicture')
        input(id='newPicture'
                class='form-control'
                name='newPicture'
                placeholder='Linkur'
                )
        br
      
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) vista mynd
        br
    if(imageerror)
      p.alert.alert-danger Þetta er ekki gildur linkur!
        
    if(renderData.user.username!=usern)
      h4 Þræðir sem #{renderData.user.name} hefur búið til:
      if renderData.threads
        div.list-group#threads
          each u in renderData.threads 
            a.list-group-item(href='/entries/#{u.id}')
              p.list-group-item-text #{u.threadname}
              p.list-group-item-text= moment(u.date).calendar()
    else
      h4 Þínir þræðir:
      if renderData.threads
        div.list-group#threads
          each u in renderData.threads 
            a.list-group-item(href='/entries/#{u.id}')
              form.pull-right(method='post' action='/profile/delete/#{usern}')
                input.hidden(type='text' name='threadid' value=u.id)
                button(type='submit'
                      value='submit'
                      class='btn btn-danger btn-sm'
                      ) Eyða þræði
              p.list-group-item-text #{u.threadname}
              p.list-group-item-text= moment(u.date).calendar()
  br
