extends layout

block content

  section.col-md-6.col-s-6.col-xs-12
    p.profileHeader Þetta er svæðið þitt,  #{renderData.user.name}
    
    p#profile Þú ert skráður inn sem: 
      span.profileText #{renderData.user.name}
    p#profile Notendanafnið þitt er: 
      span.profileText #{renderData.user.username}
    p#profile Skráð e-mail: 
      span.profileText #{renderData.user.email}
        
  section.col-md-6.col-s-6.col-xs-12  
    div.profileImg   
      if(imageset==true)
        img#profileimg(src=imagelink height='200px' alt='profile picture for #{renderData.user.username}')
      else
        img#profileimg(src='http://oi64.tinypic.com/5o5nc0.jpg' height='200px' alt='profile picture for #{renderData.user.username}')
    
      br
      button(type='submit'
            value='submit'
            class='btn btn-primary'
            id='picButton'
            ) Skipta um mynd 
    br
    form.form-group.hidden#newPic(method='post' action='/profile/#{renderData.user.username}')
  
      div
        label(for='newPicture')
        input(id='newPicture'
                class='form-control'
                name='newPicture'
                placeholder='Linkur'
                )
        br
      
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) vista mynd
        br
      
  br
  
script(src='public/javascripts/frontendprofile.js')
  
    
