extends layout

block content

  div.pull-left
    if threads
      ul.list-group
        each u in threads.rows   
          li.list-group-item
            a(href='/entries/#{u.id}')#postuser #{u.threadname}
              p.list-group-item-text= moment(u.date).calendar()
            br
  
  script.
    function show(){
      document.getElementById("createThread").classList.remove('hidden');
      document.getElementById('createButton').classList.add('hidden');
    }

  div.pull-right
    button(type='submit'
          value='submit'
          class='btn btn-primary'
          onclick='show()'
          id='createButton'
          ) Búa til nýjan þráð
    br
    form.form-group(method='post' action='/threads')
      div.hidden#createThread
        label(for='titill') Titill:
        input(
          id='titill'
          class='form-control'
          name='threadTitle'
          placeholder='Titill'
          )
        label(for='textarea') Texti:
        textarea(id='textarea'
                class='form-control'
                name='textarea'
                )
        br
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) Vista þráð
        br
      
