extends layout

block content
  
  ul.nav.nav-tabs#categories
    li(role='presentation' id='Allir').active
      a(href="#") Allir þræðir 
        span(class='glyphicon glyphicon-film')
    li(role='presentation' id='Gamanmyndir')
      a(href="#") Gamanmyndir 
        span(class='glyphicon glyphicon-thumbs-up')
    li(role='presentation' id='Rómantískarmyndir')
      a(href="#") Rómantískar myndir 
        span(class='glyphicon glyphicon-heart')
    li(role='presentation' id='Dramatískarmyndir')
      a(href="#") Dramatískar myndir 
        span(class='glyphicon glyphicon-tint')
    li(role='presentation' id='Spennumyndir')
      a(href="#") Spennumyndir 
        span(class='glyphicon glyphicon-fire')
    li(role='presentation' id='Hryllingsmyndir')
      a(href="#") Hryllingsmyndir 
        span(class='glyphicon glyphicon-pushpin')
    li(role='presentation' id='Ævintýramyndir')
      a(href="#") Ævintýramyndir 
        span(class='glyphicon glyphicon-tree-conifer')
    li(role='presentation' id='Sci-fimyndir')
      a(href="#") Sci-fi myndir 
        span(class='glyphicon glyphicon-eye-open')
    li(role='presentation' id='Íslenskarmyndir')
      a(href="#") Íslenskar myndir 
        span(class='glyphicon glyphicon-check')
    li(role='presentation' id='Heimildamyndir')
      a(href="#") Heimildamyndir 
        span(class='glyphicon glyphicon-globe')
    li(role='presentation' id='Leikarar')
      a(href="#") Leikarar 
        span(class='glyphicon glyphicon-star')
    li(role='presentation' id='Annað')
      a(href="#") Annað 
        span(class='glyphicon glyphicon-asterisk')  
  
  h2 Spjallborð
  p Smelltu á þráð til að skoða og taka þátt í umræðunni, eða búðu til þinn eigin þráð hér til hliðar!
  //
    script.
      function show(){
        document.getElementById("createThread").classList.remove('hidden');
        document.getElementById('createButton').classList.add('hidden');
      }

  section.col-md-6.col-s-6.col-xs-12.pull-right
    button(type='submit'
          value='submit'
          class='btn btn-primary'
          id='threadButton'
          ) Búa til nýjan þráð
      
    form.form-group(method='post' action='/threads')
      div.hidden#newThread
        label(for='titill') Titill:
        input(
          id='titill'
          class='form-control'
          name='threadTitle'
          placeholder='Titill'
          )
        label(for='textarea') Texti:
        textarea(id='textarea'
                class='form-control'
                name='textarea'
                )
          
        label(for='catergory') Veldu flokk:
        select(id='category' class='form-control' name='category')
          option(value='Gamanmyndir') Gamanmyndir
          option(value='Rómantískarmyndir') Rómantískar myndir
          option(value='Dramamyndir') Dramatískar myndir
          option(value='Spennumyndir') Spennumyndir
          option(value='Hryllingsmyndir') Hryllingsmyndir
          option(value='Ævintýramyndir') Ævintýramyndir
          option(value='Sci-fimyndir') Sci-fi myndir
          option(value='Íslenskarmyndir') Íslenskar myndir
          option(value='Heimildamyndir') Heimildamyndir
          option(value='Leikarar') Leikarar
          option(value='Annað') Annað
        button(type='submit'
              value='submit'
              class='btn btn-primary'
              ) Vista þráð
      if threadnameerror 
        p(class='alert alert-danger') Það er nú þegar til þráður með þessu nafni. Veldu annað!
      if nothreadname
        p(class='alert alert-danger') Titil vantar!
        
          
        
  section.col-md-6.col-s-6.col-xs-12.pull-left
    if threads
      div.col-md-10.col-xs-12.list-group#threads
        each u in threads.rows 
          a.list-group-item(href='/entries/#{u.id}')
            p.list-group-item-text.pThreadname #{u.threadname}
            p.list-group-item-text= moment(u.date).calendar()
            p.list-group-item-text notandi: #{u.username}
            p.list-group-item-text.pCategory flokkur: #{u.category}
          
      
